Django>=3.0,<5.0
django-cors-headers
django-elasticsearch-dsl
djangorestframework>=3.12

elastic-transport
elasticsearch
elasticsearch-dsl

mysqlclient
opensearch-py

better_profanity
python-dotenv
django-environ

pytest-django>=4.4  # For running tests with Django

transformers